.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.statsFigure {
  background: white;
  border-radius: 9px;
  padding: 9px 0;
  width: 19%;
}

.statsLabel {
  display: block;
  text-align: center;
}

.statsValue {
  color: var(--background);
  display: block;
  font-size: 150%;
  text-align: center;
}
