.switchButtons {
  padding-bottom: 0.5rem;
}

.switchButtons button {
  background: #E0E0E0;
  border-color: #A0A0A0;
  border-style: solid solid solid none;
  border-width: 1px;
  color: black;
  padding: 0 8px;
}

.switchButtons button:first-child {
  border-radius: 5px 0 0 5px;
  border-style: solid;
}

.switchButtons button:last-child {
  border-radius: 0 5px 5px 0;
}

.switchButtons button.switchButtonSelected {
  background: white;
}
