:root {
  --background: #3f769c;
  --main-font-color: #353535;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

.container-fluid {
  min-height: 100vh;
}

#sidebar {
  background: var(--background);
  color: white;
  min-height: 100vh;
}

#main {
  color: var(--main-font-color);
  min-height: 100vh;
}
