.fileUpload {
  background: white;
  border: solid #A0A0A0 1px;
  border-radius: 9px;
  margin-bottom: 1rem;
  padding: 9px;
}

.disclaimer {
  font-size: 90%;
  margin-top: 1rem;
  margin-bottom: 0;
}
